body {
  background-color: rgb(20, 20, 20);
  color: white;
}

.game_board {
  padding: 0px;
  margin: 0px;
}

.cell {
  margin: 5px;
  padding: 0px;
  width: 200px;
  height: 200px;
  background-color: white;
  display: inline-block;
}

.cell:hover {
  background-color: lightgray;
}

#head_title {
  text-align: center;
}

#game {
  padding: 0px;
  width: 640;
  height: 640;
  border: 5px white solid;
  margin-left: auto;
  margin-right: auto;
}



